.tutorial .icon i, .icon i {
  font-size: 55px;
  border: 1px solid #E5E5E5;
  border-radius: 50%;
  width: 130px;
  line-height: 130px;
  height: 130px;
  color: #8a5f46;
}

.tutorial .title{
  font-weight: 700;
  color: #3C4858;
}



.radio input[type=radio]:checked ~ .circle {
    border-color: #b08064 !important;
}

.radio input[type=radio]:checked ~ .check {
    background-color: #b08064 !important;
}
